In [1]:
using DecisionTree
using DataFrames
using DataFramesMeta
using DataArrays
using ScikitLearn: DataFrameMapper, @sk_import, fit_transform!, Pipelines, fit!
using ScikitLearn.CrossValidation: cross_val_score
@sk_import preprocessing: (LabelBinarizer, StandardScaler)

WARNING: Method definition nrow(DataFramesMeta.AbstractCompositeDataFrame) in module DataFramesMeta at /Users/tesuji/.julia/v0.5/DataFramesMeta/src/compositedataframe.jl:108 overwritten at /Users/tesuji/.julia/v0.5/DataFramesMeta/src/compositedataframe.jl:109.
WARNING: Method definition require(Symbol) in module Base at loading.jl:345 overwritten in module Main at /Users/tesuji/.julia/v0.5/Requires/src/require.jl:12.

In [2]:
train = readtable("train.csv")

891×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 880 │ 880         │ 1        │ 1      │
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 880 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 881 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 882 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 883 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 884 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 885 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 886 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 887 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 888 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 889 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 890 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 891 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 880 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 881 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 882 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 883 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 884 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 885 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 886 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 887 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 888 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 889 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 890 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 891 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │
│ 7   │ "S"      │
│ 8   │ "S"      │
│ 9   │ "S"      │
│ 10  │ "C"      │
│ 11  │ "S"      │
⋮
│ 880 │ "C"      │
│ 881 │ "S"      │
│ 882 │ "S"      │
│ 883 │ "S"      │
│ 884 │ "S"      │
│ 885 │ "S"      │
│ 886 │ "Q"      │
│ 887 │ "S"      │
│ 888 │ "S"      │
│ 889 │ "S"      │
│ 890 │ "C"      │
│ 891 │ "Q"      │

In [3]:
describe(train)

PassengerId
Min      1.0
1st Qu.  223.5
Median   446.0
Mean     446.0
3rd Qu.  668.5
Max      891.0
NAs      0
NA%      0.0%

Survived
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.3838383838383838
3rd Qu.  1.0
Max      1.0
NAs      0
NA%      0.0%

Pclass
Min      1.0
1st Qu.  2.0
Median   3.0
Mean     2.308641975308642
3rd Qu.  3.0
Max      3.0
NAs      0
NA%      0.0%

Name
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  891

Sex
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  2

Age
Min      0.42
1st Qu.  20.125
Median   28.0
Mean     29.69911764705882
3rd Qu.  38.0
Max      80.0
NAs      177
NA%      19.87%

SibSp
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.5230078563411896
3rd Qu.  1.0
Max      8.0
NAs      0
NA%      0.0%

Parch
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.38159371492704824
3rd Qu.  0.0
Max      6.0
NAs      0
NA%      0.0%

Ticket
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  681

Fare
Min      0.0
1st Qu.  7.9104
Median   14.4542
Mean     32.204207968574636
3rd Qu.  31.0
Max      512.3292
NAs      0
NA%      0.0%

Cabin
Length  891
Type    String
NAs     687
NA%     77.1%
Unique  148

Embarked
Length  891
Type    String
NAs     2
NA%     0.22%
Unique  4

In [4]:
# view NA in Embarked
train[isna(train[:,:Embarked]),:]

2×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 62          │ 1        │ 1      │
│ 2   │ 830         │ 1        │ 1      │

│ Row │ Name                                        │ Sex      │ Age  │ SibSp │
├─────┼─────────────────────────────────────────────┼──────────┼──────┼───────┤
│ 1   │ "Icard, Miss. Amelie"                       │ "female" │ 38.0 │ 0     │
│ 2   │ "Stone, Mrs. George Nelson (Martha Evelyn)" │ "female" │ 62.0 │ 0     │

│ Row │ Parch │ Ticket   │ Fare │ Cabin │ Embarked │
├─────┼───────┼──────────┼──────┼───────┼──────────┤
│ 1   │ 0     │ "113572" │ 80.0 │ "B28" │ NA       │
│ 2   │ 0     │ "113572" │ 80.0 │ "B28" │ NA       │

In [5]:
# drop NA in Embarked
deleterows!(train,find(isna(train[:,Symbol("Embarked")])))

889×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │
│ 7   │ "S"      │
│ 8   │ "S"      │
│ 9   │ "S"      │
│ 10  │ "C"      │
│ 11  │ "S"      │
⋮
│ 878 │ "C"      │
│ 879 │ "S"      │
│ 880 │ "S"      │
│ 881 │ "S"      │
│ 882 │ "S"      │
│ 883 │ "S"      │
│ 884 │ "Q"      │
│ 885 │ "S"      │
│ 886 │ "S"      │
│ 887 │ "S"      │
│ 888 │ "C"      │
│ 889 │ "Q"      │

In [6]:
# Extract Title from Name
train = @transform(train,
CptTitle = map(s->match(r"(?<=, ).*?\.", s).match, :Name)
    )

889×13 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │
├─────┼──────────┼───────────┤
│ 1   │ "S"      │ "Mr."     │
│ 2   │ "C"      │ "Mrs."    │
│ 3   │ "S"      │ "Miss."   │
│ 4   │ "S"      │ "Mrs."    │
│ 5   │ "S"      │ "Mr."     │
│ 6   │ "Q"      │ "Mr."     │
│ 7   │ "S"      │ "Mr."     │
│ 8   │ "S"      │ "Master." │
│ 9   │ "S"      │ "Mrs."    │
│ 10  │ "C"      │ "Mrs."    │
│ 11  │ "S"      │ "Miss."   │
⋮
│ 878 │ "C"      │ "Mrs."    │
│ 879 │ "S"      │ "Mrs."    │
│ 880 │ "S"      │ "Mr."     │
│ 881 │ "S"      │ "Miss."   │
│ 882 │ "S"      │ "Mr."     │
│ 883 │ "S"      │ "Mr."     │
│ 884 │ "Q"      │ "Mrs."    │
│ 885 │ "S"      │ "Rev."    │
│ 886 │ "S"      │ "Miss."   │
│ 887 │ "S"      │ "Miss."   │
│ 888 │ "C"      │ "Mr."     │
│ 889 │ "Q"      │ "Mr."     │

In [7]:
#Compute the median age depending of class, sex, title
df_Agegroup = by(train, [:Pclass,:Sex,:CptTitle], df -> median(dropna(df[:Age])))

27×4 DataFrames.DataFrame
│ Row │ Pclass │ Sex      │ CptTitle        │ x1   │
├─────┼────────┼──────────┼─────────────────┼──────┤
│ 1   │ 1      │ "female" │ "Mrs."          │ 40.0 │
│ 2   │ 1      │ "female" │ "Miss."         │ 30.0 │
│ 3   │ 1      │ "female" │ "Dr."           │ 49.0 │
│ 4   │ 1      │ "female" │ "Mme."          │ 24.0 │
│ 5   │ 1      │ "female" │ "Lady."         │ 48.0 │
│ 6   │ 1      │ "female" │ "Mlle."         │ 24.0 │
│ 7   │ 1      │ "female" │ "the Countess." │ 33.0 │
│ 8   │ 1      │ "male"   │ "Mr."           │ 40.0 │
│ 9   │ 1      │ "male"   │ "Master."       │ 4.0  │
│ 10  │ 1      │ "male"   │ "Don."          │ 40.0 │
│ 11  │ 1      │ "male"   │ "Dr."           │ 44.0 │
⋮
│ 16  │ 1      │ "male"   │ "Jonkheer."     │ 38.0 │
│ 17  │ 2      │ "female" │ "Mrs."          │ 32.0 │
│ 18  │ 2      │ "female" │ "Miss."         │ 24.0 │
│ 19  │ 2      │ "female" │ "Ms."           │ 28.0 │
│ 20  │ 2      │ "male"   │ "Mr."           │ 31.0 │
│ 21  │ 2      │ "male"   │ "Master."       │ 1.0  │
│ 22  │ 2      │ "male"   │ "Rev."          │ 46.5 │
│ 23  │ 2      │ "male"   │ "Dr."           │ 38.5 │
│ 24  │ 3      │ "female" │ "Mrs."          │ 31.0 │
│ 25  │ 3      │ "female" │ "Miss."         │ 18.0 │
│ 26  │ 3      │ "male"   │ "Mr."           │ 26.0 │
│ 27  │ 3      │ "male"   │ "Master."       │ 4.0  │

In [8]:
function groupby_Age(in_Age,df_groupby,in_Pclass,tx_Sex,tx_Title)
    ifelse(
        isna(in_Age),
        reshape(df_groupby[
            (df_groupby[:Pclass].==in_Pclass)&
            (df_groupby[:Sex].==tx_Sex)&
        (df_groupby[:CptTitle].==tx_Title)
        ,:x1], 1)[1],
    in_Age)
end

groupby_Age (generic function with 1 method)

In [9]:
train = @byrow! train begin
    @newcol CptAge::DataArray{Float64}
    :CptAge = groupby_Age(:Age,df_Agegroup,:Pclass,:Sex,:CptTitle)
end

889×14 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │ CptAge │
├─────┼──────────┼───────────┼────────┤
│ 1   │ "S"      │ "Mr."     │ 22.0   │
│ 2   │ "C"      │ "Mrs."    │ 38.0   │
│ 3   │ "S"      │ "Miss."   │ 26.0   │
│ 4   │ "S"      │ "Mrs."    │ 35.0   │
│ 5   │ "S"      │ "Mr."     │ 35.0   │
│ 6   │ "Q"      │ "Mr."     │ 26.0   │
│ 7   │ "S"      │ "Mr."     │ 54.0   │
│ 8   │ "S"      │ "Master." │ 2.0    │
│ 9   │ "S"      │ "Mrs."    │ 27.0   │
│ 10  │ "C"      │ "Mrs."    │ 14.0   │
│ 11  │ "S"      │ "Miss."   │ 4.0    │
⋮
│ 878 │ "C"      │ "Mrs."    │ 56.0   │
│ 879 │ "S"      │ "Mrs."    │ 25.0   │
│ 880 │ "S"      │ "Mr."     │ 33.0   │
│ 881 │ "S"      │ "Miss."   │ 22.0   │
│ 882 │ "S"      │ "Mr."     │ 28.0   │
│ 883 │ "S"      │ "Mr."     │ 25.0   │
│ 884 │ "Q"      │ "Mrs."    │ 39.0   │
│ 885 │ "S"      │ "Rev."    │ 27.0   │
│ 886 │ "S"      │ "Miss."   │ 19.0   │
│ 887 │ "S"      │ "Miss."   │ 18.0   │
│ 888 │ "C"      │ "Mr."     │ 26.0   │
│ 889 │ "Q"      │ "Mr."     │ 32.0   │

In [10]:
tmp = @transform(train,
CptCabin = map(s->ifelse(isna(s),"Unknown",s), :Cabin)
    )
train = @transform(tmp,
CptCabin = map(s->ifelse(s=="Unknown",s,s[1:1]), :CptCabin)
    )

889×15 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │ CptAge │ CptCabin  │
├─────┼──────────┼───────────┼────────┼───────────┤
│ 1   │ "S"      │ "Mr."     │ 22.0   │ "Unknown" │
│ 2   │ "C"      │ "Mrs."    │ 38.0   │ "C"       │
│ 3   │ "S"      │ "Miss."   │ 26.0   │ "Unknown" │
│ 4   │ "S"      │ "Mrs."    │ 35.0   │ "C"       │
│ 5   │ "S"      │ "Mr."     │ 35.0   │ "Unknown" │
│ 6   │ "Q"      │ "Mr."     │ 26.0   │ "Unknown" │
│ 7   │ "S"      │ "Mr."     │ 54.0   │ "E"       │
│ 8   │ "S"      │ "Master." │ 2.0    │ "Unknown" │
│ 9   │ "S"      │ "Mrs."    │ 27.0   │ "Unknown" │
│ 10  │ "C"      │ "Mrs."    │ 14.0   │ "Unknown" │
│ 11  │ "S"      │ "Miss."   │ 4.0    │ "G"       │
⋮
│ 878 │ "C"      │ "Mrs."    │ 56.0   │ "C"       │
│ 879 │ "S"      │ "Mrs."    │ 25.0   │ "Unknown" │
│ 880 │ "S"      │ "Mr."     │ 33.0   │ "Unknown" │
│ 881 │ "S"      │ "Miss."   │ 22.0   │ "Unknown" │
│ 882 │ "S"      │ "Mr."     │ 28.0   │ "Unknown" │
│ 883 │ "S"      │ "Mr."     │ 25.0   │ "Unknown" │
│ 884 │ "Q"      │ "Mrs."    │ 39.0   │ "Unknown" │
│ 885 │ "S"      │ "Rev."    │ 27.0   │ "Unknown" │
│ 886 │ "S"      │ "Miss."   │ 19.0   │ "B"       │
│ 887 │ "S"      │ "Miss."   │ 18.0   │ "Unknown" │
│ 888 │ "C"      │ "Mr."     │ 26.0   │ "C"       │
│ 889 │ "Q"      │ "Mr."     │ 32.0   │ "Unknown" │

In [11]:
final_training = train[[:Pclass,:CptTitle,:Sex,:CptAge,:SibSp,:Parch,:Fare,:Embarked,:CptCabin,:Survived]]

889×10 DataFrames.DataFrame
│ Row │ Pclass │ CptTitle  │ Sex      │ CptAge │ SibSp │ Parch │ Fare    │
├─────┼────────┼───────────┼──────────┼────────┼───────┼───────┼─────────┤
│ 1   │ 3      │ "Mr."     │ "male"   │ 22.0   │ 1     │ 0     │ 7.25    │
│ 2   │ 1      │ "Mrs."    │ "female" │ 38.0   │ 1     │ 0     │ 71.2833 │
│ 3   │ 3      │ "Miss."   │ "female" │ 26.0   │ 0     │ 0     │ 7.925   │
│ 4   │ 1      │ "Mrs."    │ "female" │ 35.0   │ 1     │ 0     │ 53.1    │
│ 5   │ 3      │ "Mr."     │ "male"   │ 35.0   │ 0     │ 0     │ 8.05    │
│ 6   │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.4583  │
│ 7   │ 1      │ "Mr."     │ "male"   │ 54.0   │ 0     │ 0     │ 51.8625 │
│ 8   │ 3      │ "Master." │ "male"   │ 2.0    │ 3     │ 1     │ 21.075  │
│ 9   │ 3      │ "Mrs."    │ "female" │ 27.0   │ 0     │ 2     │ 11.1333 │
│ 10  │ 2      │ "Mrs."    │ "female" │ 14.0   │ 1     │ 0     │ 30.0708 │
│ 11  │ 3      │ "Miss."   │ "female" │ 4.0    │ 1     │ 1     │ 16.7    │
⋮
│ 878 │ 1      │ "Mrs."    │ "female" │ 56.0   │ 0     │ 1     │ 83.1583 │
│ 879 │ 2      │ "Mrs."    │ "female" │ 25.0   │ 0     │ 1     │ 26.0    │
│ 880 │ 3      │ "Mr."     │ "male"   │ 33.0   │ 0     │ 0     │ 7.8958  │
│ 881 │ 3      │ "Miss."   │ "female" │ 22.0   │ 0     │ 0     │ 10.5167 │
│ 882 │ 2      │ "Mr."     │ "male"   │ 28.0   │ 0     │ 0     │ 10.5    │
│ 883 │ 3      │ "Mr."     │ "male"   │ 25.0   │ 0     │ 0     │ 7.05    │
│ 884 │ 3      │ "Mrs."    │ "female" │ 39.0   │ 0     │ 5     │ 29.125  │
│ 885 │ 2      │ "Rev."    │ "male"   │ 27.0   │ 0     │ 0     │ 13.0    │
│ 886 │ 1      │ "Miss."   │ "female" │ 19.0   │ 0     │ 0     │ 30.0    │
│ 887 │ 3      │ "Miss."   │ "female" │ 18.0   │ 1     │ 2     │ 23.45   │
│ 888 │ 1      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 30.0    │
│ 889 │ 3      │ "Mr."     │ "male"   │ 32.0   │ 0     │ 0     │ 7.75    │

│ Row │ Embarked │ CptCabin  │ Survived │
├─────┼──────────┼───────────┼──────────┤
│ 1   │ "S"      │ "Unknown" │ 0        │
│ 2   │ "C"      │ "C"       │ 1        │
│ 3   │ "S"      │ "Unknown" │ 1        │
│ 4   │ "S"      │ "C"       │ 1        │
│ 5   │ "S"      │ "Unknown" │ 0        │
│ 6   │ "Q"      │ "Unknown" │ 0        │
│ 7   │ "S"      │ "E"       │ 0        │
│ 8   │ "S"      │ "Unknown" │ 0        │
│ 9   │ "S"      │ "Unknown" │ 1        │
│ 10  │ "C"      │ "Unknown" │ 1        │
│ 11  │ "S"      │ "G"       │ 1        │
⋮
│ 878 │ "C"      │ "C"       │ 1        │
│ 879 │ "S"      │ "Unknown" │ 1        │
│ 880 │ "S"      │ "Unknown" │ 0        │
│ 881 │ "S"      │ "Unknown" │ 0        │
│ 882 │ "S"      │ "Unknown" │ 0        │
│ 883 │ "S"      │ "Unknown" │ 0        │
│ 884 │ "Q"      │ "Unknown" │ 0        │
│ 885 │ "S"      │ "Unknown" │ 0        │
│ 886 │ "S"      │ "B"       │ 1        │
│ 887 │ "S"      │ "Unknown" │ 0        │
│ 888 │ "C"      │ "C"       │ 1        │
│ 889 │ "Q"      │ "Unknown" │ 0        │

In [12]:
# Create model
mapper = DataFrameMapper([
    (:Pclass, nothing),
    (:CptTitle, LabelBinarizer()),
    (:Sex, LabelBinarizer()),
    (:CptAge, nothing),
    (:SibSp, nothing),
    (:Parch, nothing),
    (:Fare, nothing),
    (:Embarked, LabelBinarizer()),
    (:CptCabin, LabelBinarizer())
    ]);

In [13]:
# fit model
round(fit_transform!(mapper, copy(final_training)), 2)

889×35 Array{Float64,2}:
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  1.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  1.0  0.0  0.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 ⋮                        ⋮              ⋱            ⋮
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [14]:
pipe = Pipelines.Pipeline([
     ("featurize", mapper),
    ("forest", RandomForestClassifier(ntrees=1000))
    ])

ScikitLearn.Skcore.Pipeline(Tuple{Any,Any}[("featurize",ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2})),("forest",DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[-37091267,1073274352,56258988,1073364806,-489946093,1073342629,-926597871,1073188115,1896361484,1073551563  …  1805625306,1072829776,1924793155,1073320977,1495839231,519142192,-378552959,1034623539,382,0]),[1.55418,1.64045,1.6193,1.47194,1.81855,1.13345,1.43756,1.27753,1.06885,1.1987  …  1.93029,1.14781,1.5807,1.48452,1.39597,1.35586,1.65011,1.74792,1.1302,1.59865],16),#undef,#undef))],Any[ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2}),DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[-37091267,1073274352,56258988,1073364806,-489946093,1073342629,-926597871,1073188115,1896361484,1073551563  …  1805625306,1072829776,1924793155,1073320977,1495839231,519142192,-378552959,1034623539,382,0]),[1.55418,1.64045,1.6193,1.47194,1.81855,1.13345,1.43756,1.27753,1.06885,1.1987  …  1.93029,1.14781,1.5807,1.48452,1.39597,1.35586,1.65011,1.74792,1.1302,1.59865],16),#undef,#undef)])

In [15]:
Y_train = convert(Array, final_training[:Survived])
delete!(final_training, :Survived)
X_train = final_training

889×9 DataFrames.DataFrame
│ Row │ Pclass │ CptTitle  │ Sex      │ CptAge │ SibSp │ Parch │ Fare    │
├─────┼────────┼───────────┼──────────┼────────┼───────┼───────┼─────────┤
│ 1   │ 3      │ "Mr."     │ "male"   │ 22.0   │ 1     │ 0     │ 7.25    │
│ 2   │ 1      │ "Mrs."    │ "female" │ 38.0   │ 1     │ 0     │ 71.2833 │
│ 3   │ 3      │ "Miss."   │ "female" │ 26.0   │ 0     │ 0     │ 7.925   │
│ 4   │ 1      │ "Mrs."    │ "female" │ 35.0   │ 1     │ 0     │ 53.1    │
│ 5   │ 3      │ "Mr."     │ "male"   │ 35.0   │ 0     │ 0     │ 8.05    │
│ 6   │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.4583  │
│ 7   │ 1      │ "Mr."     │ "male"   │ 54.0   │ 0     │ 0     │ 51.8625 │
│ 8   │ 3      │ "Master." │ "male"   │ 2.0    │ 3     │ 1     │ 21.075  │
│ 9   │ 3      │ "Mrs."    │ "female" │ 27.0   │ 0     │ 2     │ 11.1333 │
│ 10  │ 2      │ "Mrs."    │ "female" │ 14.0   │ 1     │ 0     │ 30.0708 │
│ 11  │ 3      │ "Miss."   │ "female" │ 4.0    │ 1     │ 1     │ 16.7    │
⋮
│ 878 │ 1      │ "Mrs."    │ "female" │ 56.0   │ 0     │ 1     │ 83.1583 │
│ 879 │ 2      │ "Mrs."    │ "female" │ 25.0   │ 0     │ 1     │ 26.0    │
│ 880 │ 3      │ "Mr."     │ "male"   │ 33.0   │ 0     │ 0     │ 7.8958  │
│ 881 │ 3      │ "Miss."   │ "female" │ 22.0   │ 0     │ 0     │ 10.5167 │
│ 882 │ 2      │ "Mr."     │ "male"   │ 28.0   │ 0     │ 0     │ 10.5    │
│ 883 │ 3      │ "Mr."     │ "male"   │ 25.0   │ 0     │ 0     │ 7.05    │
│ 884 │ 3      │ "Mrs."    │ "female" │ 39.0   │ 0     │ 5     │ 29.125  │
│ 885 │ 2      │ "Rev."    │ "male"   │ 27.0   │ 0     │ 0     │ 13.0    │
│ 886 │ 1      │ "Miss."   │ "female" │ 19.0   │ 0     │ 0     │ 30.0    │
│ 887 │ 3      │ "Miss."   │ "female" │ 18.0   │ 1     │ 2     │ 23.45   │
│ 888 │ 1      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 30.0    │
│ 889 │ 3      │ "Mr."     │ "male"   │ 32.0   │ 0     │ 0     │ 7.75    │

│ Row │ Embarked │ CptCabin  │
├─────┼──────────┼───────────┤
│ 1   │ "S"      │ "Unknown" │
│ 2   │ "C"      │ "C"       │
│ 3   │ "S"      │ "Unknown" │
│ 4   │ "S"      │ "C"       │
│ 5   │ "S"      │ "Unknown" │
│ 6   │ "Q"      │ "Unknown" │
│ 7   │ "S"      │ "E"       │
│ 8   │ "S"      │ "Unknown" │
│ 9   │ "S"      │ "Unknown" │
│ 10  │ "C"      │ "Unknown" │
│ 11  │ "S"      │ "G"       │
⋮
│ 878 │ "C"      │ "C"       │
│ 879 │ "S"      │ "Unknown" │
│ 880 │ "S"      │ "Unknown" │
│ 881 │ "S"      │ "Unknown" │
│ 882 │ "S"      │ "Unknown" │
│ 883 │ "S"      │ "Unknown" │
│ 884 │ "Q"      │ "Unknown" │
│ 885 │ "S"      │ "Unknown" │
│ 886 │ "S"      │ "B"       │
│ 887 │ "S"      │ "Unknown" │
│ 888 │ "C"      │ "C"       │
│ 889 │ "Q"      │ "Unknown" │

In [ ]:
model = fit!(pipe, X_train, Y_train)

In [ ]:
# load test data
test = readtable("test.csv")

In [ ]:
describe(test)

In [ ]:
# Extract Title from Name
test = @transform(test,
CptTitle = map(s->match(r"(?<=, ).*?\.", s).match, :Name)
    )

In [ ]:
# view NA in Age
test[isna(test[:,:Age]),:]

#Compute the median age depending of class, sex, title
v = vcat(train,test)
# describe(v)

# Seems like there is a particular :Sex, :CptTitle combination with no matching Age
# writetable("age.csv",v)
#Dona. is not matched to anything, assume Lady
v[v[:CptTitle].=="Dona.",:Age] = v[v[:CptTitle].=="Lady.",:Age]
#Ms. on Pclass3 assume = to Pclass2
v[(v[:CptTitle].=="Ms.")&(v[:Pclass].==3),:Age] = v[(v[:CptTitle].=="Ms.")&(v[:Pclass].==2),:Age]

df_Agegroup_TEST = by(v, [:Pclass,:Sex,:CptTitle], df -> median(dropna(df[:Age])))

In [ ]:
# Estimate age
test = @byrow! test begin
    @newcol CptAge::DataArray{Float64}
    :CptAge = groupby_Age(:Age,df_Agegroup_TEST,:Pclass,:Sex,:CptTitle)
end

In [ ]:
tmp = @transform(test,
CptCabin = map(s->ifelse(isna(s),"Unknown",s), :Cabin)
    )
test = @transform(tmp,
CptCabin = map(s->ifelse(s=="Unknown",s,s[1:1]), :CptCabin)
    )

In [ ]:
# view NA in Fare
test[isna(test[:,:Fare]),:]

In [ ]:
median(test[(test[:CptTitle].=="Mr.")&(test[:Pclass].==3),:Fare])

In [ ]:
test[isna(test[:,:Fare]),:Fare] = median(test[(test[:CptTitle].=="Mr.")&(test[:Pclass].==3),:Fare])

In [ ]:
final_test = test[[:Pclass,:CptTitle,:Sex,:CptAge,:SibSp,:Parch,:Fare,:Embarked,:CptCabin]]

In [ ]:
result=DataFrame()
result[:PassengerId] = test[:PassengerId]

In [ ]:
@data DecisionTree.predict(model,final_test)