In [1]:
using DecisionTree
using DataFrames
using DataFramesMeta
using DataArrays
using ScikitLearn: DataFrameMapper, @sk_import, fit_transform!, Pipelines, fit!
using ScikitLearn.CrossValidation: cross_val_score
@sk_import preprocessing: (LabelBinarizer, StandardScaler)

WARNING: Method definition nrow(DataFramesMeta.AbstractCompositeDataFrame) in module DataFramesMeta at /Users/tesuji/.julia/v0.5/DataFramesMeta/src/compositedataframe.jl:108 overwritten at /Users/tesuji/.julia/v0.5/DataFramesMeta/src/compositedataframe.jl:109.
WARNING: Method definition require(Symbol) in module Base at loading.jl:345 overwritten in module Main at /Users/tesuji/.julia/v0.5/Requires/src/require.jl:12.

In [ ]:
train = readtable("train.csv")

In [3]:
describe(train)

PassengerId
Min      1.0
1st Qu.  223.5
Median   446.0
Mean     446.0
3rd Qu.  668.5
Max      891.0
NAs      0
NA%      0.0%

Survived
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.3838383838383838
3rd Qu.  1.0
Max      1.0
NAs      0
NA%      0.0%

Pclass
Min      1.0
1st Qu.  2.0
Median   3.0
Mean     2.308641975308642
3rd Qu.  3.0
Max      3.0
NAs      0
NA%      0.0%

Name
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  891

Sex
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  2

Age
Min      0.42
1st Qu.  20.125
Median   28.0
Mean     29.69911764705882
3rd Qu.  38.0
Max      80.0
NAs      177
NA%      19.87%

SibSp
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.5230078563411896
3rd Qu.  1.0
Max      8.0
NAs      0
NA%      0.0%

Parch
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.38159371492704824
3rd Qu.  0.0
Max      6.0
NAs      0
NA%      0.0%

Ticket
Length  891
Type    String
NAs     0
NA%     0.0%
Unique  681

Fare
Min      0.0
1st Qu.  7.9104
Median   14.4542
Mean     32.204207968574636
3rd Qu.  31.0
Max      512.3292
NAs      0
NA%      0.0%

Cabin
Length  891
Type    String
NAs     687
NA%     77.1%
Unique  148

Embarked
Length  891
Type    String
NAs     2
NA%     0.22%
Unique  4

In [4]:
# view NA in Embarked
train[isna(train[:,:Embarked]),:]

2×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 62          │ 1        │ 1      │
│ 2   │ 830         │ 1        │ 1      │

│ Row │ Name                                        │ Sex      │ Age  │ SibSp │
├─────┼─────────────────────────────────────────────┼──────────┼──────┼───────┤
│ 1   │ "Icard, Miss. Amelie"                       │ "female" │ 38.0 │ 0     │
│ 2   │ "Stone, Mrs. George Nelson (Martha Evelyn)" │ "female" │ 62.0 │ 0     │

│ Row │ Parch │ Ticket   │ Fare │ Cabin │ Embarked │
├─────┼───────┼──────────┼──────┼───────┼──────────┤
│ 1   │ 0     │ "113572" │ 80.0 │ "B28" │ NA       │
│ 2   │ 0     │ "113572" │ 80.0 │ "B28" │ NA       │

In [5]:
# drop NA in Embarked
deleterows!(train,find(isna(train[:,Symbol("Embarked")])))

889×12 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │
├─────┼──────────┤
│ 1   │ "S"      │
│ 2   │ "C"      │
│ 3   │ "S"      │
│ 4   │ "S"      │
│ 5   │ "S"      │
│ 6   │ "Q"      │
│ 7   │ "S"      │
│ 8   │ "S"      │
│ 9   │ "S"      │
│ 10  │ "C"      │
│ 11  │ "S"      │
⋮
│ 878 │ "C"      │
│ 879 │ "S"      │
│ 880 │ "S"      │
│ 881 │ "S"      │
│ 882 │ "S"      │
│ 883 │ "S"      │
│ 884 │ "Q"      │
│ 885 │ "S"      │
│ 886 │ "S"      │
│ 887 │ "S"      │
│ 888 │ "C"      │
│ 889 │ "Q"      │

In [6]:
# Extract Title from Name
train = @transform(train,
CptTitle = map(s->match(r"(?<=, ).*?\.", s).match, :Name)
    )

889×13 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │
├─────┼──────────┼───────────┤
│ 1   │ "S"      │ "Mr."     │
│ 2   │ "C"      │ "Mrs."    │
│ 3   │ "S"      │ "Miss."   │
│ 4   │ "S"      │ "Mrs."    │
│ 5   │ "S"      │ "Mr."     │
│ 6   │ "Q"      │ "Mr."     │
│ 7   │ "S"      │ "Mr."     │
│ 8   │ "S"      │ "Master." │
│ 9   │ "S"      │ "Mrs."    │
│ 10  │ "C"      │ "Mrs."    │
│ 11  │ "S"      │ "Miss."   │
⋮
│ 878 │ "C"      │ "Mrs."    │
│ 879 │ "S"      │ "Mrs."    │
│ 880 │ "S"      │ "Mr."     │
│ 881 │ "S"      │ "Miss."   │
│ 882 │ "S"      │ "Mr."     │
│ 883 │ "S"      │ "Mr."     │
│ 884 │ "Q"      │ "Mrs."    │
│ 885 │ "S"      │ "Rev."    │
│ 886 │ "S"      │ "Miss."   │
│ 887 │ "S"      │ "Miss."   │
│ 888 │ "C"      │ "Mr."     │
│ 889 │ "Q"      │ "Mr."     │

In [7]:
#Compute the median age depending of class, sex, title
df_Agegroup = by(train, [:Pclass,:Sex,:CptTitle], df -> median(dropna(df[:Age])))

27×4 DataFrames.DataFrame
│ Row │ Pclass │ Sex      │ CptTitle        │ x1   │
├─────┼────────┼──────────┼─────────────────┼──────┤
│ 1   │ 1      │ "female" │ "Mrs."          │ 40.0 │
│ 2   │ 1      │ "female" │ "Miss."         │ 30.0 │
│ 3   │ 1      │ "female" │ "Dr."           │ 49.0 │
│ 4   │ 1      │ "female" │ "Mme."          │ 24.0 │
│ 5   │ 1      │ "female" │ "Lady."         │ 48.0 │
│ 6   │ 1      │ "female" │ "Mlle."         │ 24.0 │
│ 7   │ 1      │ "female" │ "the Countess." │ 33.0 │
│ 8   │ 1      │ "male"   │ "Mr."           │ 40.0 │
│ 9   │ 1      │ "male"   │ "Master."       │ 4.0  │
│ 10  │ 1      │ "male"   │ "Don."          │ 40.0 │
│ 11  │ 1      │ "male"   │ "Dr."           │ 44.0 │
⋮
│ 16  │ 1      │ "male"   │ "Jonkheer."     │ 38.0 │
│ 17  │ 2      │ "female" │ "Mrs."          │ 32.0 │
│ 18  │ 2      │ "female" │ "Miss."         │ 24.0 │
│ 19  │ 2      │ "female" │ "Ms."           │ 28.0 │
│ 20  │ 2      │ "male"   │ "Mr."           │ 31.0 │
│ 21  │ 2      │ "male"   │ "Master."       │ 1.0  │
│ 22  │ 2      │ "male"   │ "Rev."          │ 46.5 │
│ 23  │ 2      │ "male"   │ "Dr."           │ 38.5 │
│ 24  │ 3      │ "female" │ "Mrs."          │ 31.0 │
│ 25  │ 3      │ "female" │ "Miss."         │ 18.0 │
│ 26  │ 3      │ "male"   │ "Mr."           │ 26.0 │
│ 27  │ 3      │ "male"   │ "Master."       │ 4.0  │

In [8]:
function groupby_Age(in_Age,df_groupby,in_Pclass,tx_Sex,tx_Title)
    ifelse(
        isna(in_Age),
        reshape(df_groupby[
            (df_groupby[:Pclass].==in_Pclass)&
            (df_groupby[:Sex].==tx_Sex)&
        (df_groupby[:CptTitle].==tx_Title)
        ,:x1], 1)[1],
    in_Age)
end

groupby_Age (generic function with 1 method)

In [9]:
train = @byrow! train begin
    @newcol CptAge::DataArray{Float64}
    :CptAge = groupby_Age(:Age,df_Agegroup,:Pclass,:Sex,:CptTitle)
end

889×14 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │ CptAge │
├─────┼──────────┼───────────┼────────┤
│ 1   │ "S"      │ "Mr."     │ 22.0   │
│ 2   │ "C"      │ "Mrs."    │ 38.0   │
│ 3   │ "S"      │ "Miss."   │ 26.0   │
│ 4   │ "S"      │ "Mrs."    │ 35.0   │
│ 5   │ "S"      │ "Mr."     │ 35.0   │
│ 6   │ "Q"      │ "Mr."     │ 26.0   │
│ 7   │ "S"      │ "Mr."     │ 54.0   │
│ 8   │ "S"      │ "Master." │ 2.0    │
│ 9   │ "S"      │ "Mrs."    │ 27.0   │
│ 10  │ "C"      │ "Mrs."    │ 14.0   │
│ 11  │ "S"      │ "Miss."   │ 4.0    │
⋮
│ 878 │ "C"      │ "Mrs."    │ 56.0   │
│ 879 │ "S"      │ "Mrs."    │ 25.0   │
│ 880 │ "S"      │ "Mr."     │ 33.0   │
│ 881 │ "S"      │ "Miss."   │ 22.0   │
│ 882 │ "S"      │ "Mr."     │ 28.0   │
│ 883 │ "S"      │ "Mr."     │ 25.0   │
│ 884 │ "Q"      │ "Mrs."    │ 39.0   │
│ 885 │ "S"      │ "Rev."    │ 27.0   │
│ 886 │ "S"      │ "Miss."   │ 19.0   │
│ 887 │ "S"      │ "Miss."   │ 18.0   │
│ 888 │ "C"      │ "Mr."     │ 26.0   │
│ 889 │ "Q"      │ "Mr."     │ 32.0   │

In [10]:
tmp = @transform(train,
CptCabin = map(s->ifelse(isna(s),"Unknown",s), :Cabin)
    )
train = @transform(tmp,
CptCabin = map(s->ifelse(s=="Unknown",s,s[1:1]), :CptCabin)
    )

889×15 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
│ 11  │ 11          │ 1        │ 3      │
⋮
│ 878 │ 880         │ 1        │ 1      │
│ 879 │ 881         │ 1        │ 2      │
│ 880 │ 882         │ 0        │ 3      │
│ 881 │ 883         │ 0        │ 3      │
│ 882 │ 884         │ 0        │ 2      │
│ 883 │ 885         │ 0        │ 3      │
│ 884 │ 886         │ 0        │ 3      │
│ 885 │ 887         │ 0        │ 2      │
│ 886 │ 888         │ 1        │ 1      │
│ 887 │ 889         │ 0        │ 3      │
│ 888 │ 890         │ 1        │ 1      │
│ 889 │ 891         │ 0        │ 3      │

│ Row │ Name                                                  │ Sex      │
├─────┼───────────────────────────────────────────────────────┼──────────┤
│ 1   │ "Braund, Mr. Owen Harris"                             │ "male"   │
│ 2   │ "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" │ "female" │
│ 3   │ "Heikkinen, Miss. Laina"                              │ "female" │
│ 4   │ "Futrelle, Mrs. Jacques Heath (Lily May Peel)"        │ "female" │
│ 5   │ "Allen, Mr. William Henry"                            │ "male"   │
│ 6   │ "Moran, Mr. James"                                    │ "male"   │
│ 7   │ "McCarthy, Mr. Timothy J"                             │ "male"   │
│ 8   │ "Palsson, Master. Gosta Leonard"                      │ "male"   │
│ 9   │ "Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"   │ "female" │
│ 10  │ "Nasser, Mrs. Nicholas (Adele Achem)"                 │ "female" │
│ 11  │ "Sandstrom, Miss. Marguerite Rut"                     │ "female" │
⋮
│ 878 │ "Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)"       │ "female" │
│ 879 │ "Shelley, Mrs. William (Imanita Parrish Hall)"        │ "female" │
│ 880 │ "Markun, Mr. Johann"                                  │ "male"   │
│ 881 │ "Dahlberg, Miss. Gerda Ulrika"                        │ "female" │
│ 882 │ "Banfield, Mr. Frederick James"                       │ "male"   │
│ 883 │ "Sutehall, Mr. Henry Jr"                              │ "male"   │
│ 884 │ "Rice, Mrs. William (Margaret Norton)"                │ "female" │
│ 885 │ "Montvila, Rev. Juozas"                               │ "male"   │
│ 886 │ "Graham, Miss. Margaret Edith"                        │ "female" │
│ 887 │ "Johnston, Miss. Catherine Helen \"Carrie\""            │ "female" │
│ 888 │ "Behr, Mr. Karl Howell"                               │ "male"   │
│ 889 │ "Dooley, Mr. Patrick"                                 │ "male"   │

│ Row │ Age  │ SibSp │ Parch │ Ticket             │ Fare    │ Cabin  │
├─────┼──────┼───────┼───────┼────────────────────┼─────────┼────────┤
│ 1   │ 22.0 │ 1     │ 0     │ "A/5 21171"        │ 7.25    │ NA     │
│ 2   │ 38.0 │ 1     │ 0     │ "PC 17599"         │ 71.2833 │ "C85"  │
│ 3   │ 26.0 │ 0     │ 0     │ "STON/O2. 3101282" │ 7.925   │ NA     │
│ 4   │ 35.0 │ 1     │ 0     │ "113803"           │ 53.1    │ "C123" │
│ 5   │ 35.0 │ 0     │ 0     │ "373450"           │ 8.05    │ NA     │
│ 6   │ NA   │ 0     │ 0     │ "330877"           │ 8.4583  │ NA     │
│ 7   │ 54.0 │ 0     │ 0     │ "17463"            │ 51.8625 │ "E46"  │
│ 8   │ 2.0  │ 3     │ 1     │ "349909"           │ 21.075  │ NA     │
│ 9   │ 27.0 │ 0     │ 2     │ "347742"           │ 11.1333 │ NA     │
│ 10  │ 14.0 │ 1     │ 0     │ "237736"           │ 30.0708 │ NA     │
│ 11  │ 4.0  │ 1     │ 1     │ "PP 9549"          │ 16.7    │ "G6"   │
⋮
│ 878 │ 56.0 │ 0     │ 1     │ "11767"            │ 83.1583 │ "C50"  │
│ 879 │ 25.0 │ 0     │ 1     │ "230433"           │ 26.0    │ NA     │
│ 880 │ 33.0 │ 0     │ 0     │ "349257"           │ 7.8958  │ NA     │
│ 881 │ 22.0 │ 0     │ 0     │ "7552"             │ 10.5167 │ NA     │
│ 882 │ 28.0 │ 0     │ 0     │ "C.A./SOTON 34068" │ 10.5    │ NA     │
│ 883 │ 25.0 │ 0     │ 0     │ "SOTON/OQ 392076"  │ 7.05    │ NA     │
│ 884 │ 39.0 │ 0     │ 5     │ "382652"           │ 29.125  │ NA     │
│ 885 │ 27.0 │ 0     │ 0     │ "211536"           │ 13.0    │ NA     │
│ 886 │ 19.0 │ 0     │ 0     │ "112053"           │ 30.0    │ "B42"  │
│ 887 │ NA   │ 1     │ 2     │ "W./C. 6607"       │ 23.45   │ NA     │
│ 888 │ 26.0 │ 0     │ 0     │ "111369"           │ 30.0    │ "C148" │
│ 889 │ 32.0 │ 0     │ 0     │ "370376"           │ 7.75    │ NA     │

│ Row │ Embarked │ CptTitle  │ CptAge │ CptCabin  │
├─────┼──────────┼───────────┼────────┼───────────┤
│ 1   │ "S"      │ "Mr."     │ 22.0   │ "Unknown" │
│ 2   │ "C"      │ "Mrs."    │ 38.0   │ "C"       │
│ 3   │ "S"      │ "Miss."   │ 26.0   │ "Unknown" │
│ 4   │ "S"      │ "Mrs."    │ 35.0   │ "C"       │
│ 5   │ "S"      │ "Mr."     │ 35.0   │ "Unknown" │
│ 6   │ "Q"      │ "Mr."     │ 26.0   │ "Unknown" │
│ 7   │ "S"      │ "Mr."     │ 54.0   │ "E"       │
│ 8   │ "S"      │ "Master." │ 2.0    │ "Unknown" │
│ 9   │ "S"      │ "Mrs."    │ 27.0   │ "Unknown" │
│ 10  │ "C"      │ "Mrs."    │ 14.0   │ "Unknown" │
│ 11  │ "S"      │ "Miss."   │ 4.0    │ "G"       │
⋮
│ 878 │ "C"      │ "Mrs."    │ 56.0   │ "C"       │
│ 879 │ "S"      │ "Mrs."    │ 25.0   │ "Unknown" │
│ 880 │ "S"      │ "Mr."     │ 33.0   │ "Unknown" │
│ 881 │ "S"      │ "Miss."   │ 22.0   │ "Unknown" │
│ 882 │ "S"      │ "Mr."     │ 28.0   │ "Unknown" │
│ 883 │ "S"      │ "Mr."     │ 25.0   │ "Unknown" │
│ 884 │ "Q"      │ "Mrs."    │ 39.0   │ "Unknown" │
│ 885 │ "S"      │ "Rev."    │ 27.0   │ "Unknown" │
│ 886 │ "S"      │ "Miss."   │ 19.0   │ "B"       │
│ 887 │ "S"      │ "Miss."   │ 18.0   │ "Unknown" │
│ 888 │ "C"      │ "Mr."     │ 26.0   │ "C"       │
│ 889 │ "Q"      │ "Mr."     │ 32.0   │ "Unknown" │

In [11]:
final_training = train[[:Pclass,:CptTitle,:Sex,:CptAge,:SibSp,:Parch,:Fare,:Embarked,:CptCabin,:Survived]]

889×10 DataFrames.DataFrame
│ Row │ Pclass │ CptTitle  │ Sex      │ CptAge │ SibSp │ Parch │ Fare    │
├─────┼────────┼───────────┼──────────┼────────┼───────┼───────┼─────────┤
│ 1   │ 3      │ "Mr."     │ "male"   │ 22.0   │ 1     │ 0     │ 7.25    │
│ 2   │ 1      │ "Mrs."    │ "female" │ 38.0   │ 1     │ 0     │ 71.2833 │
│ 3   │ 3      │ "Miss."   │ "female" │ 26.0   │ 0     │ 0     │ 7.925   │
│ 4   │ 1      │ "Mrs."    │ "female" │ 35.0   │ 1     │ 0     │ 53.1    │
│ 5   │ 3      │ "Mr."     │ "male"   │ 35.0   │ 0     │ 0     │ 8.05    │
│ 6   │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.4583  │
│ 7   │ 1      │ "Mr."     │ "male"   │ 54.0   │ 0     │ 0     │ 51.8625 │
│ 8   │ 3      │ "Master." │ "male"   │ 2.0    │ 3     │ 1     │ 21.075  │
│ 9   │ 3      │ "Mrs."    │ "female" │ 27.0   │ 0     │ 2     │ 11.1333 │
│ 10  │ 2      │ "Mrs."    │ "female" │ 14.0   │ 1     │ 0     │ 30.0708 │
│ 11  │ 3      │ "Miss."   │ "female" │ 4.0    │ 1     │ 1     │ 16.7    │
⋮
│ 878 │ 1      │ "Mrs."    │ "female" │ 56.0   │ 0     │ 1     │ 83.1583 │
│ 879 │ 2      │ "Mrs."    │ "female" │ 25.0   │ 0     │ 1     │ 26.0    │
│ 880 │ 3      │ "Mr."     │ "male"   │ 33.0   │ 0     │ 0     │ 7.8958  │
│ 881 │ 3      │ "Miss."   │ "female" │ 22.0   │ 0     │ 0     │ 10.5167 │
│ 882 │ 2      │ "Mr."     │ "male"   │ 28.0   │ 0     │ 0     │ 10.5    │
│ 883 │ 3      │ "Mr."     │ "male"   │ 25.0   │ 0     │ 0     │ 7.05    │
│ 884 │ 3      │ "Mrs."    │ "female" │ 39.0   │ 0     │ 5     │ 29.125  │
│ 885 │ 2      │ "Rev."    │ "male"   │ 27.0   │ 0     │ 0     │ 13.0    │
│ 886 │ 1      │ "Miss."   │ "female" │ 19.0   │ 0     │ 0     │ 30.0    │
│ 887 │ 3      │ "Miss."   │ "female" │ 18.0   │ 1     │ 2     │ 23.45   │
│ 888 │ 1      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 30.0    │
│ 889 │ 3      │ "Mr."     │ "male"   │ 32.0   │ 0     │ 0     │ 7.75    │

│ Row │ Embarked │ CptCabin  │ Survived │
├─────┼──────────┼───────────┼──────────┤
│ 1   │ "S"      │ "Unknown" │ 0        │
│ 2   │ "C"      │ "C"       │ 1        │
│ 3   │ "S"      │ "Unknown" │ 1        │
│ 4   │ "S"      │ "C"       │ 1        │
│ 5   │ "S"      │ "Unknown" │ 0        │
│ 6   │ "Q"      │ "Unknown" │ 0        │
│ 7   │ "S"      │ "E"       │ 0        │
│ 8   │ "S"      │ "Unknown" │ 0        │
│ 9   │ "S"      │ "Unknown" │ 1        │
│ 10  │ "C"      │ "Unknown" │ 1        │
│ 11  │ "S"      │ "G"       │ 1        │
⋮
│ 878 │ "C"      │ "C"       │ 1        │
│ 879 │ "S"      │ "Unknown" │ 1        │
│ 880 │ "S"      │ "Unknown" │ 0        │
│ 881 │ "S"      │ "Unknown" │ 0        │
│ 882 │ "S"      │ "Unknown" │ 0        │
│ 883 │ "S"      │ "Unknown" │ 0        │
│ 884 │ "Q"      │ "Unknown" │ 0        │
│ 885 │ "S"      │ "Unknown" │ 0        │
│ 886 │ "S"      │ "B"       │ 1        │
│ 887 │ "S"      │ "Unknown" │ 0        │
│ 888 │ "C"      │ "C"       │ 1        │
│ 889 │ "Q"      │ "Unknown" │ 0        │

In [12]:
# Create model
mapper = DataFrameMapper([
    (:Pclass, nothing),
    (:CptTitle, LabelBinarizer()),
    (:Sex, LabelBinarizer()),
    (:CptAge, nothing),
    (:SibSp, nothing),
    (:Parch, nothing),
    (:Fare, nothing),
    (:Embarked, LabelBinarizer()),
    (:CptCabin, LabelBinarizer())
    ]);

In [13]:
# fit model
round(fit_transform!(mapper, copy(final_training)), 2)

889×35 Array{Float64,2}:
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  1.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  1.0  0.0  0.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 ⋮                        ⋮              ⋱            ⋮
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  …  0.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0
 1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     1.0  0.0  0.0  0.0  0.0  0.0  0.0
 3.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0     0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [14]:
pipe = Pipelines.Pipeline([
     ("featurize", mapper),
    ("forest", RandomForestClassifier(ntrees=1000))
    ])

ScikitLearn.Skcore.Pipeline(Tuple{Any,Any}[("featurize",ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2})),("forest",DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[-37091267,1073274352,56258988,1073364806,-489946093,1073342629,-926597871,1073188115,1896361484,1073551563  …  1805625306,1072829776,1924793155,1073320977,1495839231,519142192,-378552959,1034623539,382,0]),[1.55418,1.64045,1.6193,1.47194,1.81855,1.13345,1.43756,1.27753,1.06885,1.1987  …  1.93029,1.14781,1.5807,1.48452,1.39597,1.35586,1.65011,1.74792,1.1302,1.59865],16),#undef,#undef))],Any[ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2}),DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[-37091267,1073274352,56258988,1073364806,-489946093,1073342629,-926597871,1073188115,1896361484,1073551563  …  1805625306,1072829776,1924793155,1073320977,1495839231,519142192,-378552959,1034623539,382,0]),[1.55418,1.64045,1.6193,1.47194,1.81855,1.13345,1.43756,1.27753,1.06885,1.1987  …  1.93029,1.14781,1.5807,1.48452,1.39597,1.35586,1.65011,1.74792,1.1302,1.59865],16),#undef,#undef)])

In [15]:
Y_train = convert(Array, final_training[:Survived])
delete!(final_training, :Survived)
X_train = final_training

889×9 DataFrames.DataFrame
│ Row │ Pclass │ CptTitle  │ Sex      │ CptAge │ SibSp │ Parch │ Fare    │
├─────┼────────┼───────────┼──────────┼────────┼───────┼───────┼─────────┤
│ 1   │ 3      │ "Mr."     │ "male"   │ 22.0   │ 1     │ 0     │ 7.25    │
│ 2   │ 1      │ "Mrs."    │ "female" │ 38.0   │ 1     │ 0     │ 71.2833 │
│ 3   │ 3      │ "Miss."   │ "female" │ 26.0   │ 0     │ 0     │ 7.925   │
│ 4   │ 1      │ "Mrs."    │ "female" │ 35.0   │ 1     │ 0     │ 53.1    │
│ 5   │ 3      │ "Mr."     │ "male"   │ 35.0   │ 0     │ 0     │ 8.05    │
│ 6   │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.4583  │
│ 7   │ 1      │ "Mr."     │ "male"   │ 54.0   │ 0     │ 0     │ 51.8625 │
│ 8   │ 3      │ "Master." │ "male"   │ 2.0    │ 3     │ 1     │ 21.075  │
│ 9   │ 3      │ "Mrs."    │ "female" │ 27.0   │ 0     │ 2     │ 11.1333 │
│ 10  │ 2      │ "Mrs."    │ "female" │ 14.0   │ 1     │ 0     │ 30.0708 │
│ 11  │ 3      │ "Miss."   │ "female" │ 4.0    │ 1     │ 1     │ 16.7    │
⋮
│ 878 │ 1      │ "Mrs."    │ "female" │ 56.0   │ 0     │ 1     │ 83.1583 │
│ 879 │ 2      │ "Mrs."    │ "female" │ 25.0   │ 0     │ 1     │ 26.0    │
│ 880 │ 3      │ "Mr."     │ "male"   │ 33.0   │ 0     │ 0     │ 7.8958  │
│ 881 │ 3      │ "Miss."   │ "female" │ 22.0   │ 0     │ 0     │ 10.5167 │
│ 882 │ 2      │ "Mr."     │ "male"   │ 28.0   │ 0     │ 0     │ 10.5    │
│ 883 │ 3      │ "Mr."     │ "male"   │ 25.0   │ 0     │ 0     │ 7.05    │
│ 884 │ 3      │ "Mrs."    │ "female" │ 39.0   │ 0     │ 5     │ 29.125  │
│ 885 │ 2      │ "Rev."    │ "male"   │ 27.0   │ 0     │ 0     │ 13.0    │
│ 886 │ 1      │ "Miss."   │ "female" │ 19.0   │ 0     │ 0     │ 30.0    │
│ 887 │ 3      │ "Miss."   │ "female" │ 18.0   │ 1     │ 2     │ 23.45   │
│ 888 │ 1      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 30.0    │
│ 889 │ 3      │ "Mr."     │ "male"   │ 32.0   │ 0     │ 0     │ 7.75    │

│ Row │ Embarked │ CptCabin  │
├─────┼──────────┼───────────┤
│ 1   │ "S"      │ "Unknown" │
│ 2   │ "C"      │ "C"       │
│ 3   │ "S"      │ "Unknown" │
│ 4   │ "S"      │ "C"       │
│ 5   │ "S"      │ "Unknown" │
│ 6   │ "Q"      │ "Unknown" │
│ 7   │ "S"      │ "E"       │
│ 8   │ "S"      │ "Unknown" │
│ 9   │ "S"      │ "Unknown" │
│ 10  │ "C"      │ "Unknown" │
│ 11  │ "S"      │ "G"       │
⋮
│ 878 │ "C"      │ "C"       │
│ 879 │ "S"      │ "Unknown" │
│ 880 │ "S"      │ "Unknown" │
│ 881 │ "S"      │ "Unknown" │
│ 882 │ "S"      │ "Unknown" │
│ 883 │ "S"      │ "Unknown" │
│ 884 │ "Q"      │ "Unknown" │
│ 885 │ "S"      │ "Unknown" │
│ 886 │ "S"      │ "B"       │
│ 887 │ "S"      │ "Unknown" │
│ 888 │ "C"      │ "C"       │
│ 889 │ "Q"      │ "Unknown" │

In [16]:
model = fit!(pipe, X_train, Y_train)

ScikitLearn.Skcore.Pipeline(Tuple{Any,Any}[("featurize",ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2})),("forest",DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[1078926576,1073590573,1744961346,1073036864,-1700845634,1073142442,-1913707369,1073438898,300637961,1073642766  …  -1114153269,1073160617,-107824139,1072753197,-149164423,2037659154,953745926,204564514,382,0]),[1.85576,1.3277,1.42839,1.71111,1.90553,1.86096,1.10646,1.03939,1.78504,1.53605  …  1.20165,1.73347,1.79958,1.14524,1.95628,1.22468,1.71915,1.0081,1.44572,1.05717],120),Ensemble of Decision Trees
Trees:      1000
Avg Leaves: 101.673
Avg Depth:  17.382,[0,1]))],Any[ScikitLearn.DataFrameMapper(Tuple[(:Pclass,nothing),(:CptTitle,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:Sex,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptAge,nothing),(:SibSp,nothing),(:Parch,nothing),(:Fare,nothing),(:Embarked,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)),(:CptCabin,PyObject LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False))],false,false,Array{Float64,2}),DecisionTree.RandomForestClassifier(0,1000,0.7,-1,MersenneTwister(UInt32[0x92073f52,0x23eb14ef,0xfe077ba5,0x89f1f576],Base.dSFMT.DSFMT_state(Int32[1078926576,1073590573,1744961346,1073036864,-1700845634,1073142442,-1913707369,1073438898,300637961,1073642766  …  -1114153269,1073160617,-107824139,1072753197,-149164423,2037659154,953745926,204564514,382,0]),[1.85576,1.3277,1.42839,1.71111,1.90553,1.86096,1.10646,1.03939,1.78504,1.53605  …  1.20165,1.73347,1.79958,1.14524,1.95628,1.22468,1.71915,1.0081,1.44572,1.05717],120),Ensemble of Decision Trees
Trees:      1000
Avg Leaves: 101.673
Avg Depth:  17.382,[0,1])])

In [17]:
# load test data
test = readtable("test.csv")

418×11 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │
├─────┼─────────────┼────────┤
│ 1   │ 892         │ 3      │
│ 2   │ 893         │ 3      │
│ 3   │ 894         │ 2      │
│ 4   │ 895         │ 3      │
│ 5   │ 896         │ 3      │
│ 6   │ 897         │ 3      │
│ 7   │ 898         │ 3      │
│ 8   │ 899         │ 2      │
│ 9   │ 900         │ 3      │
│ 10  │ 901         │ 3      │
│ 11  │ 902         │ 3      │
⋮
│ 407 │ 1298        │ 2      │
│ 408 │ 1299        │ 1      │
│ 409 │ 1300        │ 3      │
│ 410 │ 1301        │ 3      │
│ 411 │ 1302        │ 3      │
│ 412 │ 1303        │ 1      │
│ 413 │ 1304        │ 3      │
│ 414 │ 1305        │ 3      │
│ 415 │ 1306        │ 1      │
│ 416 │ 1307        │ 3      │
│ 417 │ 1308        │ 3      │
│ 418 │ 1309        │ 3      │

│ Row │ Name                                              │ Sex      │ Age  │
├─────┼───────────────────────────────────────────────────┼──────────┼──────┤
│ 1   │ "Kelly, Mr. James"                                │ "male"   │ 34.5 │
│ 2   │ "Wilkes, Mrs. James (Ellen Needs)"                │ "female" │ 47.0 │
│ 3   │ "Myles, Mr. Thomas Francis"                       │ "male"   │ 62.0 │
│ 4   │ "Wirz, Mr. Albert"                                │ "male"   │ 27.0 │
│ 5   │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)"    │ "female" │ 22.0 │
│ 6   │ "Svensson, Mr. Johan Cervin"                      │ "male"   │ 14.0 │
│ 7   │ "Connolly, Miss. Kate"                            │ "female" │ 30.0 │
│ 8   │ "Caldwell, Mr. Albert Francis"                    │ "male"   │ 26.0 │
│ 9   │ "Abrahim, Mrs. Joseph (Sophie Halaut Easu)"       │ "female" │ 18.0 │
│ 10  │ "Davies, Mr. John Samuel"                         │ "male"   │ 21.0 │
│ 11  │ "Ilieff, Mr. Ylio"                                │ "male"   │ NA   │
⋮
│ 407 │ "Ware, Mr. William Jeffery"                       │ "male"   │ 23.0 │
│ 408 │ "Widener, Mr. George Dunton"                      │ "male"   │ 50.0 │
│ 409 │ "Riordan, Miss. Johanna Hannah\"\""                 │ "female" │ NA   │
│ 410 │ "Peacock, Miss. Treasteall"                       │ "female" │ 3.0  │
│ 411 │ "Naughton, Miss. Hannah"                          │ "female" │ NA   │
│ 412 │ "Minahan, Mrs. William Edward (Lillian E Thorpe)" │ "female" │ 37.0 │
│ 413 │ "Henriksson, Miss. Jenny Lovisa"                  │ "female" │ 28.0 │
│ 414 │ "Spector, Mr. Woolf"                              │ "male"   │ NA   │
│ 415 │ "Oliva y Ocana, Dona. Fermina"                    │ "female" │ 39.0 │
│ 416 │ "Saether, Mr. Simon Sivertsen"                    │ "male"   │ 38.5 │
│ 417 │ "Ware, Mr. Frederick"                             │ "male"   │ NA   │
│ 418 │ "Peter, Master. Michael J"                        │ "male"   │ NA   │

│ Row │ SibSp │ Parch │ Ticket               │ Fare    │ Cabin  │ Embarked │
├─────┼───────┼───────┼──────────────────────┼─────────┼────────┼──────────┤
│ 1   │ 0     │ 0     │ "330911"             │ 7.8292  │ NA     │ "Q"      │
│ 2   │ 1     │ 0     │ "363272"             │ 7.0     │ NA     │ "S"      │
│ 3   │ 0     │ 0     │ "240276"             │ 9.6875  │ NA     │ "Q"      │
│ 4   │ 0     │ 0     │ "315154"             │ 8.6625  │ NA     │ "S"      │
│ 5   │ 1     │ 1     │ "3101298"            │ 12.2875 │ NA     │ "S"      │
│ 6   │ 0     │ 0     │ "7538"               │ 9.225   │ NA     │ "S"      │
│ 7   │ 0     │ 0     │ "330972"             │ 7.6292  │ NA     │ "Q"      │
│ 8   │ 1     │ 1     │ "248738"             │ 29.0    │ NA     │ "S"      │
│ 9   │ 0     │ 0     │ "2657"               │ 7.2292  │ NA     │ "C"      │
│ 10  │ 2     │ 0     │ "A/4 48871"          │ 24.15   │ NA     │ "S"      │
│ 11  │ 0     │ 0     │ "349220"             │ 7.8958  │ NA     │ "S"      │
⋮
│ 407 │ 1     │ 0     │ "28666"              │ 10.5    │ NA     │ "S"      │
│ 408 │ 1     │ 1     │ "113503"             │ 211.5   │ "C80"  │ "C"      │
│ 409 │ 0     │ 0     │ "334915"             │ 7.7208  │ NA     │ "Q"      │
│ 410 │ 1     │ 1     │ "SOTON/O.Q. 3101315" │ 13.775  │ NA     │ "S"      │
│ 411 │ 0     │ 0     │ "365237"             │ 7.75    │ NA     │ "Q"      │
│ 412 │ 1     │ 0     │ "19928"              │ 90.0    │ "C78"  │ "Q"      │
│ 413 │ 0     │ 0     │ "347086"             │ 7.775   │ NA     │ "S"      │
│ 414 │ 0     │ 0     │ "A.5. 3236"          │ 8.05    │ NA     │ "S"      │
│ 415 │ 0     │ 0     │ "PC 17758"           │ 108.9   │ "C105" │ "C"      │
│ 416 │ 0     │ 0     │ "SOTON/O.Q. 3101262" │ 7.25    │ NA     │ "S"      │
│ 417 │ 0     │ 0     │ "359309"             │ 8.05    │ NA     │ "S"      │
│ 418 │ 1     │ 1     │ "2668"               │ 22.3583 │ NA     │ "C"      │

In [18]:
describe(test)

PassengerId
Min      892.0
1st Qu.  996.25
Median   1100.5
Mean     1100.5
3rd Qu.  1204.75
Max      1309.0
NAs      0
NA%      0.0%

Pclass
Min      1.0
1st Qu.  1.0
Median   3.0
Mean     2.2655502392344498
3rd Qu.  3.0
Max      3.0
NAs      0
NA%      0.0%

Name
Length  418
Type    String
NAs     0
NA%     0.0%
Unique  418

Sex
Length  418
Type    String
NAs     0
NA%     0.0%
Unique  2

Age
Min      0.17
1st Qu.  21.0
Median   27.0
Mean     30.272590361445783
3rd Qu.  39.0
Max      76.0
NAs      86
NA%      20.57%

SibSp
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.4473684210526316
3rd Qu.  1.0
Max      8.0
NAs      0
NA%      0.0%

Parch
Min      0.0
1st Qu.  0.0
Median   0.0
Mean     0.3923444976076555
3rd Qu.  0.0
Max      9.0
NAs      0
NA%      0.0%

Ticket
Length  418
Type    String
NAs     0
NA%     0.0%
Unique  363

Fare
Min      0.0
1st Qu.  7.8958
Median   14.4542
Mean     35.627188489208635
3rd Qu.  31.5
Max      512.3292
NAs      1
NA%      0.24%

Cabin
Length  418
Type    String
NAs     327
NA%     78.23%
Unique  77

Embarked
Length  418
Type    String
NAs     0
NA%     0.0%
Unique  3

In [19]:
# Extract Title from Name
test = @transform(test,
CptTitle = map(s->match(r"(?<=, ).*?\.", s).match, :Name)
    )

418×12 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │
├─────┼─────────────┼────────┤
│ 1   │ 892         │ 3      │
│ 2   │ 893         │ 3      │
│ 3   │ 894         │ 2      │
│ 4   │ 895         │ 3      │
│ 5   │ 896         │ 3      │
│ 6   │ 897         │ 3      │
│ 7   │ 898         │ 3      │
│ 8   │ 899         │ 2      │
│ 9   │ 900         │ 3      │
│ 10  │ 901         │ 3      │
│ 11  │ 902         │ 3      │
⋮
│ 407 │ 1298        │ 2      │
│ 408 │ 1299        │ 1      │
│ 409 │ 1300        │ 3      │
│ 410 │ 1301        │ 3      │
│ 411 │ 1302        │ 3      │
│ 412 │ 1303        │ 1      │
│ 413 │ 1304        │ 3      │
│ 414 │ 1305        │ 3      │
│ 415 │ 1306        │ 1      │
│ 416 │ 1307        │ 3      │
│ 417 │ 1308        │ 3      │
│ 418 │ 1309        │ 3      │

│ Row │ Name                                              │ Sex      │ Age  │
├─────┼───────────────────────────────────────────────────┼──────────┼──────┤
│ 1   │ "Kelly, Mr. James"                                │ "male"   │ 34.5 │
│ 2   │ "Wilkes, Mrs. James (Ellen Needs)"                │ "female" │ 47.0 │
│ 3   │ "Myles, Mr. Thomas Francis"                       │ "male"   │ 62.0 │
│ 4   │ "Wirz, Mr. Albert"                                │ "male"   │ 27.0 │
│ 5   │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)"    │ "female" │ 22.0 │
│ 6   │ "Svensson, Mr. Johan Cervin"                      │ "male"   │ 14.0 │
│ 7   │ "Connolly, Miss. Kate"                            │ "female" │ 30.0 │
│ 8   │ "Caldwell, Mr. Albert Francis"                    │ "male"   │ 26.0 │
│ 9   │ "Abrahim, Mrs. Joseph (Sophie Halaut Easu)"       │ "female" │ 18.0 │
│ 10  │ "Davies, Mr. John Samuel"                         │ "male"   │ 21.0 │
│ 11  │ "Ilieff, Mr. Ylio"                                │ "male"   │ NA   │
⋮
│ 407 │ "Ware, Mr. William Jeffery"                       │ "male"   │ 23.0 │
│ 408 │ "Widener, Mr. George Dunton"                      │ "male"   │ 50.0 │
│ 409 │ "Riordan, Miss. Johanna Hannah\"\""                 │ "female" │ NA   │
│ 410 │ "Peacock, Miss. Treasteall"                       │ "female" │ 3.0  │
│ 411 │ "Naughton, Miss. Hannah"                          │ "female" │ NA   │
│ 412 │ "Minahan, Mrs. William Edward (Lillian E Thorpe)" │ "female" │ 37.0 │
│ 413 │ "Henriksson, Miss. Jenny Lovisa"                  │ "female" │ 28.0 │
│ 414 │ "Spector, Mr. Woolf"                              │ "male"   │ NA   │
│ 415 │ "Oliva y Ocana, Dona. Fermina"                    │ "female" │ 39.0 │
│ 416 │ "Saether, Mr. Simon Sivertsen"                    │ "male"   │ 38.5 │
│ 417 │ "Ware, Mr. Frederick"                             │ "male"   │ NA   │
│ 418 │ "Peter, Master. Michael J"                        │ "male"   │ NA   │

│ Row │ SibSp │ Parch │ Ticket               │ Fare    │ Cabin  │ Embarked │
├─────┼───────┼───────┼──────────────────────┼─────────┼────────┼──────────┤
│ 1   │ 0     │ 0     │ "330911"             │ 7.8292  │ NA     │ "Q"      │
│ 2   │ 1     │ 0     │ "363272"             │ 7.0     │ NA     │ "S"      │
│ 3   │ 0     │ 0     │ "240276"             │ 9.6875  │ NA     │ "Q"      │
│ 4   │ 0     │ 0     │ "315154"             │ 8.6625  │ NA     │ "S"      │
│ 5   │ 1     │ 1     │ "3101298"            │ 12.2875 │ NA     │ "S"      │
│ 6   │ 0     │ 0     │ "7538"               │ 9.225   │ NA     │ "S"      │
│ 7   │ 0     │ 0     │ "330972"             │ 7.6292  │ NA     │ "Q"      │
│ 8   │ 1     │ 1     │ "248738"             │ 29.0    │ NA     │ "S"      │
│ 9   │ 0     │ 0     │ "2657"               │ 7.2292  │ NA     │ "C"      │
│ 10  │ 2     │ 0     │ "A/4 48871"          │ 24.15   │ NA     │ "S"      │
│ 11  │ 0     │ 0     │ "349220"             │ 7.8958  │ NA     │ "S"      │
⋮
│ 407 │ 1     │ 0     │ "28666"              │ 10.5    │ NA     │ "S"      │
│ 408 │ 1     │ 1     │ "113503"             │ 211.5   │ "C80"  │ "C"      │
│ 409 │ 0     │ 0     │ "334915"             │ 7.7208  │ NA     │ "Q"      │
│ 410 │ 1     │ 1     │ "SOTON/O.Q. 3101315" │ 13.775  │ NA     │ "S"      │
│ 411 │ 0     │ 0     │ "365237"             │ 7.75    │ NA     │ "Q"      │
│ 412 │ 1     │ 0     │ "19928"              │ 90.0    │ "C78"  │ "Q"      │
│ 413 │ 0     │ 0     │ "347086"             │ 7.775   │ NA     │ "S"      │
│ 414 │ 0     │ 0     │ "A.5. 3236"          │ 8.05    │ NA     │ "S"      │
│ 415 │ 0     │ 0     │ "PC 17758"           │ 108.9   │ "C105" │ "C"      │
│ 416 │ 0     │ 0     │ "SOTON/O.Q. 3101262" │ 7.25    │ NA     │ "S"      │
│ 417 │ 0     │ 0     │ "359309"             │ 8.05    │ NA     │ "S"      │
│ 418 │ 1     │ 1     │ "2668"               │ 22.3583 │ NA     │ "C"      │

│ Row │ CptTitle  │
├─────┼───────────┤
│ 1   │ "Mr."     │
│ 2   │ "Mrs."    │
│ 3   │ "Mr."     │
│ 4   │ "Mr."     │
│ 5   │ "Mrs."    │
│ 6   │ "Mr."     │
│ 7   │ "Miss."   │
│ 8   │ "Mr."     │
│ 9   │ "Mrs."    │
│ 10  │ "Mr."     │
│ 11  │ "Mr."     │
⋮
│ 407 │ "Mr."     │
│ 408 │ "Mr."     │
│ 409 │ "Miss."   │
│ 410 │ "Miss."   │
│ 411 │ "Miss."   │
│ 412 │ "Mrs."    │
│ 413 │ "Miss."   │
│ 414 │ "Mr."     │
│ 415 │ "Dona."   │
│ 416 │ "Mr."     │
│ 417 │ "Mr."     │
│ 418 │ "Master." │

In [20]:
# view NA in Age
test[isna(test[:,:Age]),:]

#Compute the median age depending of class, sex, title
v = vcat(train,test)
# describe(v)

# Seems like there is a particular :Sex, :CptTitle combination with no matching Age
# writetable("age.csv",v)
#Dona. is not matched to anything, assume Lady
v[v[:CptTitle].=="Dona.",:Age] = v[v[:CptTitle].=="Lady.",:Age]
#Ms. on Pclass3 assume = to Pclass2
v[(v[:CptTitle].=="Ms.")&(v[:Pclass].==3),:Age] = v[(v[:CptTitle].=="Ms.")&(v[:Pclass].==2),:Age]

df_Agegroup_TEST = by(v, [:Pclass,:Sex,:CptTitle], df -> median(dropna(df[:Age])))

29×4 DataFrames.DataFrame
│ Row │ Pclass │ Sex      │ CptTitle        │ x1   │
├─────┼────────┼──────────┼─────────────────┼──────┤
│ 1   │ 1      │ "female" │ "Mrs."          │ 45.0 │
│ 2   │ 1      │ "female" │ "Miss."         │ 30.0 │
│ 3   │ 1      │ "female" │ "Dr."           │ 49.0 │
│ 4   │ 1      │ "female" │ "Mme."          │ 24.0 │
│ 5   │ 1      │ "female" │ "Lady."         │ 48.0 │
│ 6   │ 1      │ "female" │ "Mlle."         │ 24.0 │
│ 7   │ 1      │ "female" │ "the Countess." │ 33.0 │
│ 8   │ 1      │ "female" │ "Dona."         │ 48.0 │
│ 9   │ 1      │ "male"   │ "Mr."           │ 41.5 │
│ 10  │ 1      │ "male"   │ "Master."       │ 6.0  │
│ 11  │ 1      │ "male"   │ "Don."          │ 40.0 │
⋮
│ 18  │ 2      │ "female" │ "Mrs."          │ 30.5 │
│ 19  │ 2      │ "female" │ "Miss."         │ 20.0 │
│ 20  │ 2      │ "female" │ "Ms."           │ 28.0 │
│ 21  │ 2      │ "male"   │ "Mr."           │ 30.0 │
│ 22  │ 2      │ "male"   │ "Master."       │ 2.0  │
│ 23  │ 2      │ "male"   │ "Rev."          │ 41.5 │
│ 24  │ 2      │ "male"   │ "Dr."           │ 38.5 │
│ 25  │ 3      │ "female" │ "Mrs."          │ 31.0 │
│ 26  │ 3      │ "female" │ "Miss."         │ 18.0 │
│ 27  │ 3      │ "female" │ "Ms."           │ 28.0 │
│ 28  │ 3      │ "male"   │ "Mr."           │ 26.0 │
│ 29  │ 3      │ "male"   │ "Master."       │ 6.0  │

In [21]:
# Estimate age
test = @byrow! test begin
    @newcol CptAge::DataArray{Float64}
    :CptAge = groupby_Age(:Age,df_Agegroup_TEST,:Pclass,:Sex,:CptTitle)
end

418×13 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │
├─────┼─────────────┼────────┤
│ 1   │ 892         │ 3      │
│ 2   │ 893         │ 3      │
│ 3   │ 894         │ 2      │
│ 4   │ 895         │ 3      │
│ 5   │ 896         │ 3      │
│ 6   │ 897         │ 3      │
│ 7   │ 898         │ 3      │
│ 8   │ 899         │ 2      │
│ 9   │ 900         │ 3      │
│ 10  │ 901         │ 3      │
│ 11  │ 902         │ 3      │
⋮
│ 407 │ 1298        │ 2      │
│ 408 │ 1299        │ 1      │
│ 409 │ 1300        │ 3      │
│ 410 │ 1301        │ 3      │
│ 411 │ 1302        │ 3      │
│ 412 │ 1303        │ 1      │
│ 413 │ 1304        │ 3      │
│ 414 │ 1305        │ 3      │
│ 415 │ 1306        │ 1      │
│ 416 │ 1307        │ 3      │
│ 417 │ 1308        │ 3      │
│ 418 │ 1309        │ 3      │

│ Row │ Name                                              │ Sex      │ Age  │
├─────┼───────────────────────────────────────────────────┼──────────┼──────┤
│ 1   │ "Kelly, Mr. James"                                │ "male"   │ 34.5 │
│ 2   │ "Wilkes, Mrs. James (Ellen Needs)"                │ "female" │ 47.0 │
│ 3   │ "Myles, Mr. Thomas Francis"                       │ "male"   │ 62.0 │
│ 4   │ "Wirz, Mr. Albert"                                │ "male"   │ 27.0 │
│ 5   │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)"    │ "female" │ 22.0 │
│ 6   │ "Svensson, Mr. Johan Cervin"                      │ "male"   │ 14.0 │
│ 7   │ "Connolly, Miss. Kate"                            │ "female" │ 30.0 │
│ 8   │ "Caldwell, Mr. Albert Francis"                    │ "male"   │ 26.0 │
│ 9   │ "Abrahim, Mrs. Joseph (Sophie Halaut Easu)"       │ "female" │ 18.0 │
│ 10  │ "Davies, Mr. John Samuel"                         │ "male"   │ 21.0 │
│ 11  │ "Ilieff, Mr. Ylio"                                │ "male"   │ NA   │
⋮
│ 407 │ "Ware, Mr. William Jeffery"                       │ "male"   │ 23.0 │
│ 408 │ "Widener, Mr. George Dunton"                      │ "male"   │ 50.0 │
│ 409 │ "Riordan, Miss. Johanna Hannah\"\""                 │ "female" │ NA   │
│ 410 │ "Peacock, Miss. Treasteall"                       │ "female" │ 3.0  │
│ 411 │ "Naughton, Miss. Hannah"                          │ "female" │ NA   │
│ 412 │ "Minahan, Mrs. William Edward (Lillian E Thorpe)" │ "female" │ 37.0 │
│ 413 │ "Henriksson, Miss. Jenny Lovisa"                  │ "female" │ 28.0 │
│ 414 │ "Spector, Mr. Woolf"                              │ "male"   │ NA   │
│ 415 │ "Oliva y Ocana, Dona. Fermina"                    │ "female" │ 39.0 │
│ 416 │ "Saether, Mr. Simon Sivertsen"                    │ "male"   │ 38.5 │
│ 417 │ "Ware, Mr. Frederick"                             │ "male"   │ NA   │
│ 418 │ "Peter, Master. Michael J"                        │ "male"   │ NA   │

│ Row │ SibSp │ Parch │ Ticket               │ Fare    │ Cabin  │ Embarked │
├─────┼───────┼───────┼──────────────────────┼─────────┼────────┼──────────┤
│ 1   │ 0     │ 0     │ "330911"             │ 7.8292  │ NA     │ "Q"      │
│ 2   │ 1     │ 0     │ "363272"             │ 7.0     │ NA     │ "S"      │
│ 3   │ 0     │ 0     │ "240276"             │ 9.6875  │ NA     │ "Q"      │
│ 4   │ 0     │ 0     │ "315154"             │ 8.6625  │ NA     │ "S"      │
│ 5   │ 1     │ 1     │ "3101298"            │ 12.2875 │ NA     │ "S"      │
│ 6   │ 0     │ 0     │ "7538"               │ 9.225   │ NA     │ "S"      │
│ 7   │ 0     │ 0     │ "330972"             │ 7.6292  │ NA     │ "Q"      │
│ 8   │ 1     │ 1     │ "248738"             │ 29.0    │ NA     │ "S"      │
│ 9   │ 0     │ 0     │ "2657"               │ 7.2292  │ NA     │ "C"      │
│ 10  │ 2     │ 0     │ "A/4 48871"          │ 24.15   │ NA     │ "S"      │
│ 11  │ 0     │ 0     │ "349220"             │ 7.8958  │ NA     │ "S"      │
⋮
│ 407 │ 1     │ 0     │ "28666"              │ 10.5    │ NA     │ "S"      │
│ 408 │ 1     │ 1     │ "113503"             │ 211.5   │ "C80"  │ "C"      │
│ 409 │ 0     │ 0     │ "334915"             │ 7.7208  │ NA     │ "Q"      │
│ 410 │ 1     │ 1     │ "SOTON/O.Q. 3101315" │ 13.775  │ NA     │ "S"      │
│ 411 │ 0     │ 0     │ "365237"             │ 7.75    │ NA     │ "Q"      │
│ 412 │ 1     │ 0     │ "19928"              │ 90.0    │ "C78"  │ "Q"      │
│ 413 │ 0     │ 0     │ "347086"             │ 7.775   │ NA     │ "S"      │
│ 414 │ 0     │ 0     │ "A.5. 3236"          │ 8.05    │ NA     │ "S"      │
│ 415 │ 0     │ 0     │ "PC 17758"           │ 108.9   │ "C105" │ "C"      │
│ 416 │ 0     │ 0     │ "SOTON/O.Q. 3101262" │ 7.25    │ NA     │ "S"      │
│ 417 │ 0     │ 0     │ "359309"             │ 8.05    │ NA     │ "S"      │
│ 418 │ 1     │ 1     │ "2668"               │ 22.3583 │ NA     │ "C"      │

│ Row │ CptTitle  │ CptAge │
├─────┼───────────┼────────┤
│ 1   │ "Mr."     │ 34.5   │
│ 2   │ "Mrs."    │ 47.0   │
│ 3   │ "Mr."     │ 62.0   │
│ 4   │ "Mr."     │ 27.0   │
│ 5   │ "Mrs."    │ 22.0   │
│ 6   │ "Mr."     │ 14.0   │
│ 7   │ "Miss."   │ 30.0   │
│ 8   │ "Mr."     │ 26.0   │
│ 9   │ "Mrs."    │ 18.0   │
│ 10  │ "Mr."     │ 21.0   │
│ 11  │ "Mr."     │ 26.0   │
⋮
│ 407 │ "Mr."     │ 23.0   │
│ 408 │ "Mr."     │ 50.0   │
│ 409 │ "Miss."   │ 18.0   │
│ 410 │ "Miss."   │ 3.0    │
│ 411 │ "Miss."   │ 18.0   │
│ 412 │ "Mrs."    │ 37.0   │
│ 413 │ "Miss."   │ 28.0   │
│ 414 │ "Mr."     │ 26.0   │
│ 415 │ "Dona."   │ 39.0   │
│ 416 │ "Mr."     │ 38.5   │
│ 417 │ "Mr."     │ 26.0   │
│ 418 │ "Master." │ 6.0    │

In [22]:
tmp = @transform(test,
CptCabin = map(s->ifelse(isna(s),"Unknown",s), :Cabin)
    )
test = @transform(tmp,
CptCabin = map(s->ifelse(s=="Unknown",s,s[1:1]), :CptCabin)
    )

418×14 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │
├─────┼─────────────┼────────┤
│ 1   │ 892         │ 3      │
│ 2   │ 893         │ 3      │
│ 3   │ 894         │ 2      │
│ 4   │ 895         │ 3      │
│ 5   │ 896         │ 3      │
│ 6   │ 897         │ 3      │
│ 7   │ 898         │ 3      │
│ 8   │ 899         │ 2      │
│ 9   │ 900         │ 3      │
│ 10  │ 901         │ 3      │
│ 11  │ 902         │ 3      │
⋮
│ 407 │ 1298        │ 2      │
│ 408 │ 1299        │ 1      │
│ 409 │ 1300        │ 3      │
│ 410 │ 1301        │ 3      │
│ 411 │ 1302        │ 3      │
│ 412 │ 1303        │ 1      │
│ 413 │ 1304        │ 3      │
│ 414 │ 1305        │ 3      │
│ 415 │ 1306        │ 1      │
│ 416 │ 1307        │ 3      │
│ 417 │ 1308        │ 3      │
│ 418 │ 1309        │ 3      │

│ Row │ Name                                              │ Sex      │ Age  │
├─────┼───────────────────────────────────────────────────┼──────────┼──────┤
│ 1   │ "Kelly, Mr. James"                                │ "male"   │ 34.5 │
│ 2   │ "Wilkes, Mrs. James (Ellen Needs)"                │ "female" │ 47.0 │
│ 3   │ "Myles, Mr. Thomas Francis"                       │ "male"   │ 62.0 │
│ 4   │ "Wirz, Mr. Albert"                                │ "male"   │ 27.0 │
│ 5   │ "Hirvonen, Mrs. Alexander (Helga E Lindqvist)"    │ "female" │ 22.0 │
│ 6   │ "Svensson, Mr. Johan Cervin"                      │ "male"   │ 14.0 │
│ 7   │ "Connolly, Miss. Kate"                            │ "female" │ 30.0 │
│ 8   │ "Caldwell, Mr. Albert Francis"                    │ "male"   │ 26.0 │
│ 9   │ "Abrahim, Mrs. Joseph (Sophie Halaut Easu)"       │ "female" │ 18.0 │
│ 10  │ "Davies, Mr. John Samuel"                         │ "male"   │ 21.0 │
│ 11  │ "Ilieff, Mr. Ylio"                                │ "male"   │ NA   │
⋮
│ 407 │ "Ware, Mr. William Jeffery"                       │ "male"   │ 23.0 │
│ 408 │ "Widener, Mr. George Dunton"                      │ "male"   │ 50.0 │
│ 409 │ "Riordan, Miss. Johanna Hannah\"\""                 │ "female" │ NA   │
│ 410 │ "Peacock, Miss. Treasteall"                       │ "female" │ 3.0  │
│ 411 │ "Naughton, Miss. Hannah"                          │ "female" │ NA   │
│ 412 │ "Minahan, Mrs. William Edward (Lillian E Thorpe)" │ "female" │ 37.0 │
│ 413 │ "Henriksson, Miss. Jenny Lovisa"                  │ "female" │ 28.0 │
│ 414 │ "Spector, Mr. Woolf"                              │ "male"   │ NA   │
│ 415 │ "Oliva y Ocana, Dona. Fermina"                    │ "female" │ 39.0 │
│ 416 │ "Saether, Mr. Simon Sivertsen"                    │ "male"   │ 38.5 │
│ 417 │ "Ware, Mr. Frederick"                             │ "male"   │ NA   │
│ 418 │ "Peter, Master. Michael J"                        │ "male"   │ NA   │

│ Row │ SibSp │ Parch │ Ticket               │ Fare    │ Cabin  │ Embarked │
├─────┼───────┼───────┼──────────────────────┼─────────┼────────┼──────────┤
│ 1   │ 0     │ 0     │ "330911"             │ 7.8292  │ NA     │ "Q"      │
│ 2   │ 1     │ 0     │ "363272"             │ 7.0     │ NA     │ "S"      │
│ 3   │ 0     │ 0     │ "240276"             │ 9.6875  │ NA     │ "Q"      │
│ 4   │ 0     │ 0     │ "315154"             │ 8.6625  │ NA     │ "S"      │
│ 5   │ 1     │ 1     │ "3101298"            │ 12.2875 │ NA     │ "S"      │
│ 6   │ 0     │ 0     │ "7538"               │ 9.225   │ NA     │ "S"      │
│ 7   │ 0     │ 0     │ "330972"             │ 7.6292  │ NA     │ "Q"      │
│ 8   │ 1     │ 1     │ "248738"             │ 29.0    │ NA     │ "S"      │
│ 9   │ 0     │ 0     │ "2657"               │ 7.2292  │ NA     │ "C"      │
│ 10  │ 2     │ 0     │ "A/4 48871"          │ 24.15   │ NA     │ "S"      │
│ 11  │ 0     │ 0     │ "349220"             │ 7.8958  │ NA     │ "S"      │
⋮
│ 407 │ 1     │ 0     │ "28666"              │ 10.5    │ NA     │ "S"      │
│ 408 │ 1     │ 1     │ "113503"             │ 211.5   │ "C80"  │ "C"      │
│ 409 │ 0     │ 0     │ "334915"             │ 7.7208  │ NA     │ "Q"      │
│ 410 │ 1     │ 1     │ "SOTON/O.Q. 3101315" │ 13.775  │ NA     │ "S"      │
│ 411 │ 0     │ 0     │ "365237"             │ 7.75    │ NA     │ "Q"      │
│ 412 │ 1     │ 0     │ "19928"              │ 90.0    │ "C78"  │ "Q"      │
│ 413 │ 0     │ 0     │ "347086"             │ 7.775   │ NA     │ "S"      │
│ 414 │ 0     │ 0     │ "A.5. 3236"          │ 8.05    │ NA     │ "S"      │
│ 415 │ 0     │ 0     │ "PC 17758"           │ 108.9   │ "C105" │ "C"      │
│ 416 │ 0     │ 0     │ "SOTON/O.Q. 3101262" │ 7.25    │ NA     │ "S"      │
│ 417 │ 0     │ 0     │ "359309"             │ 8.05    │ NA     │ "S"      │
│ 418 │ 1     │ 1     │ "2668"               │ 22.3583 │ NA     │ "C"      │

│ Row │ CptTitle  │ CptAge │ CptCabin  │
├─────┼───────────┼────────┼───────────┤
│ 1   │ "Mr."     │ 34.5   │ "Unknown" │
│ 2   │ "Mrs."    │ 47.0   │ "Unknown" │
│ 3   │ "Mr."     │ 62.0   │ "Unknown" │
│ 4   │ "Mr."     │ 27.0   │ "Unknown" │
│ 5   │ "Mrs."    │ 22.0   │ "Unknown" │
│ 6   │ "Mr."     │ 14.0   │ "Unknown" │
│ 7   │ "Miss."   │ 30.0   │ "Unknown" │
│ 8   │ "Mr."     │ 26.0   │ "Unknown" │
│ 9   │ "Mrs."    │ 18.0   │ "Unknown" │
│ 10  │ "Mr."     │ 21.0   │ "Unknown" │
│ 11  │ "Mr."     │ 26.0   │ "Unknown" │
⋮
│ 407 │ "Mr."     │ 23.0   │ "Unknown" │
│ 408 │ "Mr."     │ 50.0   │ "C"       │
│ 409 │ "Miss."   │ 18.0   │ "Unknown" │
│ 410 │ "Miss."   │ 3.0    │ "Unknown" │
│ 411 │ "Miss."   │ 18.0   │ "Unknown" │
│ 412 │ "Mrs."    │ 37.0   │ "C"       │
│ 413 │ "Miss."   │ 28.0   │ "Unknown" │
│ 414 │ "Mr."     │ 26.0   │ "Unknown" │
│ 415 │ "Dona."   │ 39.0   │ "C"       │
│ 416 │ "Mr."     │ 38.5   │ "Unknown" │
│ 417 │ "Mr."     │ 26.0   │ "Unknown" │
│ 418 │ "Master." │ 6.0    │ "Unknown" │

In [23]:
# view NA in Fare
test[isna(test[:,:Fare]),:]

1×14 DataFrames.DataFrame
│ Row │ PassengerId │ Pclass │ Name                 │ Sex    │ Age  │ SibSp │
├─────┼─────────────┼────────┼──────────────────────┼────────┼──────┼───────┤
│ 1   │ 1044        │ 3      │ "Storey, Mr. Thomas" │ "male" │ 60.5 │ 0     │

│ Row │ Parch │ Ticket │ Fare │ Cabin │ Embarked │ CptTitle │ CptAge │
├─────┼───────┼────────┼──────┼───────┼──────────┼──────────┼────────┤
│ 1   │ 0     │ "3701" │ NA   │ NA    │ "S"      │ "Mr."    │ 60.5   │

│ Row │ CptCabin  │
├─────┼───────────┤
│ 1   │ "Unknown" │

In [33]:
median(dropna(v[(v[:CptTitle].=="Mr.")&(v[:Pclass].==3),:Fare]))

7.8958

In [34]:
test[isna(test[:,:Fare]),:Fare] = median(dropna(v[(v[:CptTitle].=="Mr.")&(v[:Pclass].==3),:Fare]))

7.8958

In [35]:
final_test = test[[:Pclass,:CptTitle,:Sex,:CptAge,:SibSp,:Parch,:Fare,:Embarked,:CptCabin]]

418×9 DataFrames.DataFrame
│ Row │ Pclass │ CptTitle  │ Sex      │ CptAge │ SibSp │ Parch │ Fare    │
├─────┼────────┼───────────┼──────────┼────────┼───────┼───────┼─────────┤
│ 1   │ 3      │ "Mr."     │ "male"   │ 34.5   │ 0     │ 0     │ 7.8292  │
│ 2   │ 3      │ "Mrs."    │ "female" │ 47.0   │ 1     │ 0     │ 7.0     │
│ 3   │ 2      │ "Mr."     │ "male"   │ 62.0   │ 0     │ 0     │ 9.6875  │
│ 4   │ 3      │ "Mr."     │ "male"   │ 27.0   │ 0     │ 0     │ 8.6625  │
│ 5   │ 3      │ "Mrs."    │ "female" │ 22.0   │ 1     │ 1     │ 12.2875 │
│ 6   │ 3      │ "Mr."     │ "male"   │ 14.0   │ 0     │ 0     │ 9.225   │
│ 7   │ 3      │ "Miss."   │ "female" │ 30.0   │ 0     │ 0     │ 7.6292  │
│ 8   │ 2      │ "Mr."     │ "male"   │ 26.0   │ 1     │ 1     │ 29.0    │
│ 9   │ 3      │ "Mrs."    │ "female" │ 18.0   │ 0     │ 0     │ 7.2292  │
│ 10  │ 3      │ "Mr."     │ "male"   │ 21.0   │ 2     │ 0     │ 24.15   │
│ 11  │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 7.8958  │
⋮
│ 407 │ 2      │ "Mr."     │ "male"   │ 23.0   │ 1     │ 0     │ 10.5    │
│ 408 │ 1      │ "Mr."     │ "male"   │ 50.0   │ 1     │ 1     │ 211.5   │
│ 409 │ 3      │ "Miss."   │ "female" │ 18.0   │ 0     │ 0     │ 7.7208  │
│ 410 │ 3      │ "Miss."   │ "female" │ 3.0    │ 1     │ 1     │ 13.775  │
│ 411 │ 3      │ "Miss."   │ "female" │ 18.0   │ 0     │ 0     │ 7.75    │
│ 412 │ 1      │ "Mrs."    │ "female" │ 37.0   │ 1     │ 0     │ 90.0    │
│ 413 │ 3      │ "Miss."   │ "female" │ 28.0   │ 0     │ 0     │ 7.775   │
│ 414 │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.05    │
│ 415 │ 1      │ "Dona."   │ "female" │ 39.0   │ 0     │ 0     │ 108.9   │
│ 416 │ 3      │ "Mr."     │ "male"   │ 38.5   │ 0     │ 0     │ 7.25    │
│ 417 │ 3      │ "Mr."     │ "male"   │ 26.0   │ 0     │ 0     │ 8.05    │
│ 418 │ 3      │ "Master." │ "male"   │ 6.0    │ 1     │ 1     │ 22.3583 │

│ Row │ Embarked │ CptCabin  │
├─────┼──────────┼───────────┤
│ 1   │ "Q"      │ "Unknown" │
│ 2   │ "S"      │ "Unknown" │
│ 3   │ "Q"      │ "Unknown" │
│ 4   │ "S"      │ "Unknown" │
│ 5   │ "S"      │ "Unknown" │
│ 6   │ "S"      │ "Unknown" │
│ 7   │ "Q"      │ "Unknown" │
│ 8   │ "S"      │ "Unknown" │
│ 9   │ "C"      │ "Unknown" │
│ 10  │ "S"      │ "Unknown" │
│ 11  │ "S"      │ "Unknown" │
⋮
│ 407 │ "S"      │ "Unknown" │
│ 408 │ "C"      │ "C"       │
│ 409 │ "Q"      │ "Unknown" │
│ 410 │ "S"      │ "Unknown" │
│ 411 │ "Q"      │ "Unknown" │
│ 412 │ "Q"      │ "C"       │
│ 413 │ "S"      │ "Unknown" │
│ 414 │ "S"      │ "Unknown" │
│ 415 │ "C"      │ "C"       │
│ 416 │ "S"      │ "Unknown" │
│ 417 │ "S"      │ "Unknown" │
│ 418 │ "C"      │ "Unknown" │

In [38]:
result=DataFrame()
result[:PassengerId] = test[:PassengerId]
result[:Survived] = @data DecisionTree.predict(model,final_test)

418-element DataArrays.DataArray{Any,1}:
 0
 0
 0
 1
 1
 0
 0
 0
 1
 0
 0
 0
 1
 ⋮
 0
 0
 0
 1
 1
 1
 0
 0
 1
 0
 0
 1

In [39]:
result

418×2 DataFrames.DataFrame
│ Row │ PassengerId │ Survived │
├─────┼─────────────┼──────────┤
│ 1   │ 892         │ 0        │
│ 2   │ 893         │ 0        │
│ 3   │ 894         │ 0        │
│ 4   │ 895         │ 1        │
│ 5   │ 896         │ 1        │
│ 6   │ 897         │ 0        │
│ 7   │ 898         │ 0        │
│ 8   │ 899         │ 0        │
│ 9   │ 900         │ 1        │
│ 10  │ 901         │ 0        │
│ 11  │ 902         │ 0        │
⋮
│ 407 │ 1298        │ 0        │
│ 408 │ 1299        │ 0        │
│ 409 │ 1300        │ 0        │
│ 410 │ 1301        │ 1        │
│ 411 │ 1302        │ 1        │
│ 412 │ 1303        │ 1        │
│ 413 │ 1304        │ 0        │
│ 414 │ 1305        │ 0        │
│ 415 │ 1306        │ 1        │
│ 416 │ 1307        │ 0        │
│ 417 │ 1308        │ 0        │
│ 418 │ 1309        │ 1        │

In [40]:
writetable("julia-randomforests.csv",result)